.time {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   align-items: center;
   block-size: 112px;
   min-inline-size: 65px;
   inline-size: 100%;
   padding-inline: 12px;
   padding-block: 16px;
   border-radius: 3.625rem;
   border: 2px solid transparent;
   background-color: var(--black);
   color: var(--white);
   text-align: center;
   transition: 350ms;
   cursor: pointer;
   outline: none;
}

.time:hover,
.time:focus {
   border: 2px solid var(--primary);
}

.time__hour {

}

.time__degrees {
}

@media screen and (min-width: 604px) {
   .time {
      max-inline-size: 65px;
   }
}